@import "navbar";
@import "home";
@import "variables";
@import "cart";
@import "plp";
@import "forms";
@import url("./vendor/carousel.scss");
@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500,700");

* {
  box-sizing: border-box;
}
body,
p,
button {
  font-family: "Dosis", sans-serif;
  line-height: 1.4;
  margin: 0;
}
button {
  background-color: $accent;
}
button:focus,
button:hover {
  background: $accent_onclick;
}
a {
  text-decoration: none;
}

.row {
  max-width: 90vw;
  margin: 10px auto 10px;
}

footer {
  background: $darker-grey;
  color: #fff;
  display: block;
  margin-bottom: -50%;
  width: 100%;
  text-align: center;
}

.hide {
  display: none;
}
